.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    color:white !important;
    border-color: white !important;
}

.MuiAutocomplete-popupIndicator {
    color:white !important;
}

.MuiInputLabel-outlined{
    color:white !important;
    padding-top: 45px !important;
}

.MuiFormControl-fullWidth {
    float: left;
    padding-top: 45px !important;
}

.MuiInputLabel-animated {
    color:white !important;
}

.MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input:first-child{
    color:white !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color:white !important;
}

.MuiTypography-body1 {
    color:white !important;
}

.MuiFormControlLabel-root {
    margin-top: 10px;
    margin-left: 350px;
}
.container{
    margin-top: 10px;
}