.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    color:white !important;
    border-color: white !important;
}

.MuiAutocomplete-popupIndicator {
    color:white !important;
}

.MuiInputLabel-outlined{
    color:white !important;
}

.MuiFormControl-fullWidth {
    float: left;
}

.MuiInputLabel-animated {
    color:white !important;
}

.MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input:first-child{
    color:white !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color:white !important;
}

.MuiTypography-body1 {
    color:white !important;
}

.MuiFormControlLabel-root {
    margin-top: 10px;
    margin-left: 350px;
}

.MuiFormControlLabel-root {
    margin-left: 100px;
}

.MuiSlider-thumb {
    color:blue;
}
.makeStyles-textField-21 {
    width: 200px;
    position: absolute !important; 
    left: 0px;
    margin-left: 140px !important;
}